.cart{
     position:sticky;
     top: 50px;
}
.cart h2{
     text-align: center;
     color: #D65076;
}
.cart h5{
     text-align: center;
     padding: 10px;
     color: green;
}
.cart-btn{
     padding: 10px;
     border: none;
}
.cart-btn{
     background-color: rgb(58, 128, 0);
     border: none;
     color: rgb(155, 6, 6);
     padding: 15px 32px;
     text-align: center;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
}